body{
    background-color: rgb(68, 230, 36);
}

#container,#container3{
    display: none;
    margin-top: 200px;
}
#container2{
    display: none;
    margin-top: 150px;
}

#first{
    margin-top:70px;
}

#hi{
    font-size: 4rem;
}

.intro{
    font-size: 25px;
    margin-top: 30px;
}

#but1{
    width: 30%;
    height: 3em;
    background-color: lightblue;
    cursor: pointer;
    font-size: 1.5rem;
    color: black;
    margin-top: 30px;   
         
    
}
#but1:hover {
    background-color: rgb(253, 253, 253);
    /* color:rgb(236, 38, 193); */
    font-size: 1.6rem;
}

#but2:hover {
    background-color: rgb(253, 253, 253);
    /* color:rgb(236, 38, 193); */
    font-size: 1.6rem;
}

#but3:hover {
    background-color: rgb(253, 253, 253);
    /* color:rgb(236, 38, 193); */
    font-size: 1.5rem;
}

#but2{
    width: 30%;
    height: 2.5em;
    background-color: lightblue;
    cursor: pointer;
    font-size: 1.5rem;
    color: black;
    margin-top: 30px;

}

#but3{
    width: 150px;
    height: 4em;
    background-color: lightblue;
    cursor: pointer;
    font-size: 1.3rem;
    color: black;
    margin-top: 30px;

       
}

.rules{
    font-size: 1.5rem;
}

#inp{
    height: 1.5em;
}

#over,#over2,#ans,#ans1,#ans2,#ans3{
    display: none;
}
.same{
    font-size: 1.5rem;
    margin-top: 20px;
}

#end2{
    margin-top: 30px;
}