#container,#container2,#container3{
    display: none;
    margin-top: 200px;
}

#first{
    margin-top:70px;
}

#hi{
    font-size: 4rem;
}

.intro{
    font-size: 25px;
    margin-top: 30px;
}

#but1{
    width: 20%;
    height: 3em;
    background-color: lightblue;
    cursor: pointer;
    font-size: 1.5rem;
    color: black;
    margin-top: 30px;   
         
    
}
#but1:hover {
    background-color: lightgreen;
    color:white;
}

#but2:hover {
    background-color: lightgreen;
    color:white;
}

#but3:hover {
    background-color: lightgreen;
}

#but2{
    width: 20%;
    height: 2.5em;
    background-color: lightblue;
    cursor: pointer;
    font-size: 1.5rem;
    color: black;
    margin-top: 30px;

}

#but3{
    width: 100px;
    height: 2.5em;
    background-color: lightblue;
    cursor: pointer;
    font-size: 1rem;
    color: black;
    margin-top: 30px;

       
}

.rules{
    font-size: 1.5rem;
}

#inp{
    height: 1em;
    width: 500px;
    font-size: 1.5rem;
}

#over,#over2,#ans,#ans1,#ans2,#ans3{
    display: none;
}
.same{
    font-size: 1.5rem;
}